body {
    background-color: blanchedalmond;
    background: url(https://4kwallpapers.com/images/wallpapers/sakura-cherry-1920x1200-12791.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}